@import '../../shared/styles/fit-loader-containers';

.search-form {
  display: flex;
  margin-bottom: 16px;
}

.search-input {
  max-width: 400px;
  margin: 0 16px -1.25em 0;
}

.paginator {
  margin-top: auto;
}
