<aside></aside>
<section class="wrapper">
  <h2>Produkty</h2>

  <form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="search-input no-bottom">
      <mat-label>Nazwa produktu</mat-label>
      <input matInput formControlName="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button [disabled]="searchForm.invalid" mat-flat-button color="primary" class="search-button">Szukaj</button>
  </form>

  <div *ngIf="products$ | async as products">
    <app-products [products]="products"></app-products>
  </div>

  <mat-paginator [pageIndex]="page" [length]="length" [pageSize]="itemsPerPage" [hidePageSize]="true"
    (page)="setPage($event)" aria-label="Szukaj produktów">
  </mat-paginator>

</section>
