<aside></aside>
<section class="wrapper">
  <h2>Produkty</h2>
  <p>
    <mat-form-field class="search">
      <mat-label>Nazwa produktu</mat-label>
      <input matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>

  <div *ngIf="products$ | async as products">
    <app-products [products]="products"></app-products>
  </div>

  <mat-paginator [pageIndex]="page" [length]="length" [pageSize]="itemsPerPage" [hidePageSize]="true"
    (page)="setPage($event)" aria-label="Szukaj produktów">
  </mat-paginator>

</section>
