.mat-card {
  overflow: hidden;
  max-width: 650px;
  height: 225px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.quantity-form {
  margin-bottom: -1.34375em !important;
  width: 80px;
}

.image {
  display: block;
  height: 100%;
  width: clamp(200px, 500px, 50%);
  object-fit: cover;
}

.container {
  padding: 16px 16px 0 16px;
}
