.mat-card {
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.quantity-form {
  margin-bottom: -1.34375em !important;
  width: 80px;
}

.mat-card-image {
  object-fit: cover;
}

.container {
  padding: 16px 16px 0 16px;
}
