<section class="wrapper" *ngIf="cart$ | async as cart">
  <div *ngIf="cart.quantity === 0">
    <p>Nie posiadasz żadnych elementów w koszyku.</p>
    <a routerLink="/products" color="accent" mat-raised-button>Szukaj produktów</a>
  </div>

  <ng-container *ngIf="cart.quantity">
    <ng-container *ngFor="let item of cart.items">
      <app-cart-item *ngIf="item" [cartItem]="item" (delete)="onDelete($event)" (edit)="onEdit($event)">
      </app-cart-item>
    </ng-container>

    <mat-divider></mat-divider>
    <div class="summary">
      <p class="summary-item">Wszystkie elementy: <span class="mat-body-strong">{{ cart.quantity }}</span></p>
      <p class="summary-item">
        Łączny koszt: <span class="mat-body-strong">{{ cart.price | currency: '' : ''}}zł</span>
      </p>
    </div>
    <button mat-raised-button color="accent">Zapłać</button>
  </ng-container>
</section>
