<section class="wrapper">
  <h2>Szczegóły produktu</h2>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div class="container" *ngIf="!isLoading && product as p">
    <img class="image" [src]="BACKEND_URL + p.imageUrl" [alt]="p.name">
    <div>
      <h2>{{ p.name }}</h2>
      <p>Cena: {{ p.price | currency: '' : '' }}zł</p>
      <div>
        <div class="quantity">
          <mat-form-field class="quantity-field">
            <mat-label>Ilość</mat-label>
            <input type="number" matInput value="1" #quantity>
          </mat-form-field>
        </div>
        <div class="buttons">
          <button (click)="onAdd(+quantity.value)" mat-raised-button color="primary" class="add">Dodaj do
            koszyka</button>
          <button mat-raised-button color="accent">Kup teraz</button>
        </div>
      </div>
    </div>
  </div>
</section>
