.image {
  width: 100%;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
}

.add-container {
  display: flex;
  align-items: flex-start;
}

.quantity-field {
  width: 75px;
  margin-left: 16px;
}

.add {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }

  .image {
    width: 35%;
    margin-right: 32px;
    max-width: 500px;
  }
}
