<section class="wrapper auth-signup">
  <h2>Rejestracja</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <p>
      <mat-form-field class="field">
        <mat-label>Imię</mat-label>
        <input formControlName="name" matInput>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="field">
        <mat-label>Hasło</mat-label>
        <input formControlName="password" matInput>
        <mat-icon matSuffix>key</mat-icon>
      </mat-form-field>
    </p>

    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Stwórz konto</button>
      <a mat-button routerLink="/auth/login">Zaloguj się</a>
    </div>
  </form>
</section>
