<section class="wrapper">
  <h2>Dodawanie produkt</h2>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <p>
      <mat-form-field>
        <mat-label>Nazwa produktu</mat-label>
        <input matInput formControlName="name">
        <mat-icon matSuffix>name</mat-icon>
        <mat-error *ngIf="productForm.get('name')?.errors as nameErrors">
          {{ nameErrors | getMessageError }}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="category" *ngFor="let category of categories">{{ category | titlecase }}</mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.get('name')?.errors as categoryErrors">
          {{ categoryErrors | getMessageError }}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Cena</mat-label>
        <input formControlName="price" type="number" matInput>
        <mat-icon matSuffix>price</mat-icon>
        <mat-error *ngIf="productForm.get('price')?.errors as priceErrors">
          {{ priceErrors | getMessageError }}
        </mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" [disabled]="productForm.invalid">Dodaj</button>
  </form>

</section>
