<section class="wrapper">
  <h2>Dodawanie produkt</h2>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="file">
      <input class="file-input" accept="image/png, image/jpeg, image/jpeg" type="file" (change)="onImageUpload($event)"
        #file>
      <img class="file-preview" [src]="imagePreview" alt="Zawartość załadowana przez użytkownika" *ngIf="imagePreview">
      <button class="file-button" mat-stroked-button type="button" color="primary" (click)="file.click()">Załaduj
        zdjęcie produktu
      </button>
      <mat-error class="file-error" *ngIf="productForm.get('image')?.errors && productForm.get('image')!.errors!['invalidFileType']">
        Nieprawidłowe rozszerzenie pliku.
      </mat-error>
    </div>
    <p>
      <mat-form-field>
        <mat-label>Nazwa produktu</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="productForm.get('name')?.errors as nameErrors">
          {{ nameErrors | getMessageError }}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Kategoria</mat-label>
        <mat-select formControlName="category">
          <mat-option [value]="category" *ngFor="let category of categories">{{ category | titlecase }}</mat-option>
        </mat-select>
        <mat-error *ngIf="productForm.get('name')?.errors as categoryErrors">
          {{ categoryErrors | getMessageError }}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Cena</mat-label>
        <input formControlName="price" type="number" matInput>
        <mat-error *ngIf="productForm.get('price')?.errors as priceErrors">
          {{ priceErrors | getMessageError }}
        </mat-error>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" [disabled]="productForm.invalid">Dodaj</button>
  </form>
</section>
